@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

:root {
    --main-text: hsl(0, 36%, 70%);
    --main-accent: hsl(0, 6%, 24%);
    --main-error: hsl(0, 93%, 68%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans';
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-container {
    width: 60%;
    padding: 0 40px 40px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center center;
}

.right-container {
    width: 40%;
}

.bg-image {
    background-image: url(./images/hero-desktop.jpg);
    background-position: center center;
    background-size: cover;
}

.bg-mobile {
    display: none;
}

.inner-left-container {
    margin: auto;
    max-width: 500px;
}

.logo {
    margin: 60px 0;
    width: 200px;
}

.inner-left-container h1 {
    color: var(--main-text);
    font-size: 62px;
    font-weight: 300;
    letter-spacing: 20px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 100px;
    text-transform: uppercase;
}

.inner-left-container span {
    color: var(--main-accent);
    font-weight: 600;
}

.inner-left-container p {
    color: var(--main-text);
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0 40px;
}

form {
    position: relative;
    width: 100%;
}

form input {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--main-text);
    height: 55px;
    padding-left: 20px;
    width: 100%;
    box-shadow: none;
}

form input::placeholder {
    color: var(--main-text);
}

form input:focus {
    box-shadow: 0 0 10px var(--main-error);
}

form button {
    cursor: pointer;
    background-image: linear-gradient(
        135deg,
        hsl(0, 80%, 86%),
        hsl(0, 74%, 74%)
    );
    border-radius: 50px;
    border: none;
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.6;
    transition: ease 0.6s;
}

form .error-icon {
    position: absolute;
    top: 0;
    transform: translateY(55%);
    right: 95px;
    display: none;
}

form small {
    display: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--main-error);
}

form.error .error-icon {
    display: block;
}

form.error .error-text {
    display: block;
}

.attribution {
    color: hsl(229, 6%, 66%);
    font-size: 12px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution span {
    display: block;
}

.attribution .fa {
    color: salmon;
}

.attributiona {
    color: #424874;
}

.attribution a:active {
    color: #424874;
}

.attribution a:visited {
    color: #424874;
}

@media screen and (max-width: 1440px) {
    .inner-left-container h1 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 982px) {
    .logo {
        margin: 30px 0;
        width: 150px;
    }

    .bg-mobile {
        display: block;
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
    }

    .left-container {
        width: 100%;
    }

    .right-container {
        display: none;
    }

    .inner-left-container {
        text-align: center;
    }

    .inner-left-container h1 {
        margin-top: 35px;
        font-size: 48px;
        letter-spacing: 14px;
    }

    .inner-left-container p {
        margin: 30px 0 40px;
    }

    form {
        padding-bottom: 40px;
    }

    form button {
        width: 80px;
    }
}
